#text h1 {
    font-size: 8vh;
}

#text p {
    font-size: 5vh;
    margin-top: 25vh;
}

input {
    color: white;
    background-color: black;
    border: 0;
	width: 30vh;
}

#submit {
    margin-top: 1vh;
}