#start {
	padding-left: 6vh;
	padding-right: 6vh;
	margin-top: 15vh;
}

button {
	font-size: 7vh;
	margin-top: 4vh;
	transition: 0.15s;
	background-color: black;
	color: #00ff00;
	border-width: 0.3vh;
	border-color: #00ff00;
	padding: 1vh;
	border-radius: 3vh;
}

h1 {
	margin-top: 10vh;
	font-size: 5vh;
	color: #00ff00;
}

h2 {
	margin-top: -3vh;
	margin-left: 70vh;
	font-size: 4vh;
	color: #008800;
}
