html {
    background-color: #181818;
}

* {
	text-align: center;
    padding: 0;
    color: white;
    font-family: "Determination Mono";
    box-sizing: border-box;
    font-size: 2vh;
}

@font-face {
	font-family: "Determination Mono";
	src: url("/other assets/DTM-Mono.otf") format("opentype");
}

button { background-color: #303030; }
button:hover { background-color: #383838; }
button:active { background-color: #404040; }
