body {
    background-image: url("../../../images/backgrounds/Szene1.png");
    min-height: 100vh;
}

.text p {
    padding-top: 15vh;
    font-size: 3vh;
}

button {
    font-size: 3vh;
	margin-left: 6vh;
	margin-right: 6vh;
	transition: .15s;
	background-color: black;
	border-width: 0.3vh;
	padding: 1.5vh;
	border-radius: 3vh;
}

#buttonSP {
   padding-left: 80px;
   padding-right: 80px;
}