#written, #notwritten {
	font-size: 5vh;
	white-space: pre-line;
}

#notwritten {
	color: black;
	user-select: none;
}

body {
	background-color: black;
}

p {
	text-align: center;
	color: white;
	font-size: 2vh;
}
