#copyright {
    font-size: 15px;
    margin-top: 93vh;
    color: #00dc00;
}

.center h1, h2 {
    font-size: 3vh;
    color: #00ff00;
}

.head {
    font-size: 3.2vh;
    color: #00ff00;
    position: relative;
    margin-bottom: -32px;
}