#text {
	padding-top: 6vh;
	padding-bottom: 6vh;
}

#task {
	color: #00ff00;
	font-size: 3.5vh;
}

span {
	color: #00ff00;
	font-size: 3.5vh;
}

p#pressbuttonhint {
	color: #006600;
	margin-top: 10vh;
	font-size: 3.5vh;
}

button {
	font-size: 5vh;
	margin-left: 2vh;
	margin-right: 2vh;
	transition: .15s;
	background-color: black;
	color: #00ff00;
	border-width: 0.3vh;
	border-color: #00ff00;
	padding: 1.5vh;
	border-radius: 3vh;
}

button#buttonAccept.swapped {
	margin-right: -25vh;
}

button#buttonDecline.swapped {
	margin-left: -29vh;
}

#written, #notwritten {
	white-space: pre-line;
}

#notwritten {
	color: transparent;
	user-select: none;
}

.hidden {
	display: none !important;
}