button {
	margin: auto;
	font-size: 7vh;
	background-color: black;
	color: #00ff00;
	border-width: 0.3vh;
	border-color: #00ff00;
	padding: 1.5vh;
	border-radius: 3vh;
	margin: 5vh;
}

button#deletesavedata {
	color: #ff0000;
	border-color: #ff0000;
}