h1 {
    font-size: 7vh;
    margin-bottom: 10vh;
	margin-top: 10vh;
}

p#text {
    font-size: 4vh;
	margin-bottom: 10vh;
}

button {
	font-size: 4vh;
	margin-left: 2vh;
	margin-right: 2vh;
	transition: .15s;
	background-color: black;
	border-width: 0.3vh;
	padding: 1.5vh;
	border-radius: 3vh;
}
