body {
    background-image: url(../../../images/backgrounds/Decleration_of_independence.png);
}

#text p {
    font-size: 3vh;
    margin-top: 15vh;
    margin-left: 87vh;
}

button {
    font-size: 3vh;
	margin-left: 6vh;
	margin-right: 6vh;
	transition: .15s;
	background-color: black;
    border-color: black;
	border-width: 0.3vh;
	padding: 1.5vh;
	border-radius: 3vh;
    position: absolute;
}

#button {
    margin-left: 35vh;
}

#button2 {
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 10vh;
}
